
  
body{
    padding: 0;
    margin: 0;
}
.table{
    width: 100vw;
    border-collapse: collapse;
    
    
}
#underline{
    text-decoration: underline;
}
#none{
    border: none;
}

.first{
    background-color: red; 
    display: flex;
    align-items: center;
    
}
nav ul{
    display: flex;
    gap: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 2px;
   
}

nav ul li{
    list-style: none;
    border-right: 2px solid white; 
    padding-right: 5px;
    color: white;
}
select{
    background-color: red;
    color: rgb(233, 154, 7);
    border: 1px solid white;

}
#first-td{
    background-color: rgb(233, 154, 7);
}
#td-first:hover{
    background-color: grey;
}
select:hover{
    color: grey;
    background-color: grey;
}

.table{
    background-color: grey;
    border-bottom: 3px solid red;
}


.zero a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
    border-right: 2px solid white;
}
.zero td{
    color: white;
}
a:hover{
    color: grey;
}
.table{
    width: 100%;
}

 .table td{
    color: white;
    text-align: center;
    font-weight: 900;
    border-right: 1.5px solid white;
    cursor: pointer;
    
}
.table a{
    text-decoration: none;
    color: white;
}
.unique{
    text-decoration: underline;
}
select{
    width: 100%;
    padding: 8px;
}
option{
    color: orange;
}
.table td:hover{
    background-color: orange;
}

.table a:hover{
    color: white;
}
.table td{
    padding: 15px;
}
.header-logo{
    width: 80%;
    margin: 27px auto;
    align-items: center;
    display: flex;
    justify-content: space-between;

}
.logo{
    display: flex;
    flex-direction: row;

}
.search{
    display: flex;
    flex-wrap:inherit;
    
}
.search input{
width: 100%;
padding: 8px;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
border: 1px solid grey;

}
.search button{
    width: 30%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(42, 42, 197);
    color: white;
    padding: 8px;
    border: 1px solid grey;
    position: relative;
    right: 2%;
}
button:hover{
    background-color: orange;
}
main{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
/* .image{
    background-image: url("/images/kapsabet1.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.image img{
    width: 100%;
    
} */
 .image{
    width: 100%;
    align-items: center;
    background-color: rgb(251, 250, 250);
    height: 950px;

 }
 .image img{
    width: 100%;
 } 
.academics{
    position:relative;
    bottom: 400px;
    background-color: rgba(255,255,255,0.6);
    width: 36%;
    height: 150px;
    margin-left: 60px;
    border-radius: 0px 180px 0px 0px;
    border-right: 6px solid  orange;
    padding: 20px;
    padding-bottom: 40px;
    align-items: center;
  color: rgb(57, 57, 126);
}
.content{
    display: flex;
flex-basis: 1;
width: 90%;
margin: 0 auto;
gap: 40px;
position: relative;
padding: 20px;
bottom:190px;
}
.similar{
    width: 100%;
}
.similar h1{
  color: rgb(57, 57, 126);
  font-size: 20px;
}
.similar p{
    color: grey;
}
.similar h1:hover{
    color: rgb(120, 120, 186); 
    cursor: pointer;
}
.news{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.mourns{
    background-color: rgb(230, 226, 226);
    border-top: 3px solid orange;
    padding: 4px;
}
.news-1,.news-2{
    width: 50%;

}
.mourns a{
    color:rgb(72, 72, 131); 
    text-decoration: none;
    
}
.mourns a:hover{
    color:rgb(160, 160, 220);
}
.mourns p{
    font-size: 13px;
    color: grey;
}
.mourns span{
    font-size: 15px;
    color: grey;
}
.mourns span:hover{
    font-size: 15px;
    cursor: pointer;
    color: rgb(160, 160, 220); 

}
.news-2 img{
 width: 50%;
 position: relative;
 left: 50px;
    
}
.news-2{
    display: block;
    margin-top: 130px;
}
.fa-regular{
    rotate: 270deg;
}
.news-3{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 65%;
    margin-left: 23px;
}
.same{
  background-color: rgb(239, 235, 235);
  display: flex;
  padding: 13px;
  align-items: center;
  gap: 10px;
  
  
}
.kapsabet{
    background-color: rgb(239, 235, 235);
 
  padding: 6px;
  align-items: center;
  
}
.same img{
    width:20% ;
}
.news-3 a{
    text-decoration: none;
    color:rgb(72, 72, 131); 
    font-weight: 900;
    font-size: 16px;

}
.news-3 p{
    font-size: 13px;
    color: rgb(148, 142, 142);
}
h2,h3,h4,h4{
    font-weight: 900;
}
.news-3 a:hover{
    color: rgb(160, 160, 220); 
}
.posts{
    display: flex;
    width: 90%;
    gap: 30px;
    margin: 30px auto;
    
}
.high{
    width: 70%;
    margin: 0 auto;
}
.high img{
    width: 100%;
}
.post-child{
    width: 25%;
    margin: 0 auto;
}
.search-in{
    display: flex;
    align-items: center;
    gap: 10px;
}
.label{
    display: flex;
    flex-direction: column;
    
}
.label input{
   padding: 10px;
   border: 1px solid rgb(189, 185, 185);
}
.smaller-search button{
    padding: 10px;
    align-items: center;
    position: relative;
    top: 9px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 3px;
} 
/* continuation of where we left off//saturday
 */
 .posts h1,h2{
    color:rgb(52, 52, 119);  
    font-size: 22px;
    
 }
 .posts a{
    color: rgb(75, 75, 138);
    font-size: 15px;
    text-decoration: none;
 }
 .posts li{
    list-style-type:square;
    color: orangered;
    font-weight: 100;
 }
 .comments a:hover{
    color: rgb(118, 118, 169);
 }
 .comments span{
    color: grey;
 }
 .article{
    width:90%;
    margin: 0 auto;
 }
 .articles-1{
    width: 77%;
 }
 .articles-1 article{
    color: grey;
    line-height: 22px;
    font-size:15px;
 }
 .articles-1 h4{
    color:rgb(125, 20, 20) ;
 }

 footer{
    display: flex;
    flex-direction: column;
}
 .footer-one{
    margin-top: 40px;
    background-color: rgb(68, 68, 125);
    border-top: 5px solid orange;
 }


 .first-foot{
    display: flex;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
 
  gap: 20px;
/*   align-items: center; */

 }
 #ft-child{
    border-right: 1px dotted;
    padding-right: 15px;
   
 }
/*  .foot-child h1, p,span{
    position: relative;
    bottom: 40px;
 } */
 #ft-child2{
    border-left: 1px dotted;
    padding-left: 18px;
 }

 .second-foot{
    
    width: 90%;
 }
 .foot-child{
    width:60%;
    color: white;
 }
 #meean{
    width: 70%;
 }
 #meean a{
  font-size: 15px;
 }

 .foot-child a{
   text-decoration: none;
   color: white;
 }
 .foot-child li{
    color: orange;
    list-style: none;

 }
 .foot-child h1,h2{
    color: grey;
    font-size: 22px;
 }
 .footer-two{
    background-color: black;
    height: 100%;
    
 }
 .second-foot{
    align-items: center;
    width: 80%;
    margin: 10px auto;
 }



